<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/eventDetail.css"/>
</head>
<body>
<div class="event-detail-main-box">
    <div class="event-detail-toolbar">
        <span class="event-toolbar-detail">历史详情</span>
        <img src="../image/icon_close_history.png" alt="" class="event-detail-close"/>
    </div>

    <div class="event-detail-box">
        <div class="event-top">
            <div class="event-left">
                <div class="evetn-iten-detail"><span class="span-event-title">事件流水号：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">事件时间：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">事件来源：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">事件类型：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">处理状态：</span> <span class="span-event-item-info">2015-2-12</span></div>
            </div>
            <div class="event-right">
                <div class="evetn-iten-detail"><span class="span-event-title">处理人工号：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">处理人姓名：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">接警责任人工号：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">接警责任人姓名：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">片区ID：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">片区名称：</span> <span class="span-event-item-info">2015-2-12</span></div>
            </div>
        </div>

        <div class="event-bottom">
            <div class="event-left">
                <div class="evetn-iten-detail"><span class="span-event-title">报警人：</span> <span class="span-event-item-info">王小二</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">报警地址：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">联系方式：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">报警箱号：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">报警箱名称：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">经度：</span> <span class="span-event-item-info">2015-2-12</span></div>
                <div class="evetn-iten-detail"><span class="span-event-title">纬度：</span> <span class="span-event-item-info">2015-2-12</span></div>
            </div>

            <div class="event-right">
                <div class="evetn-iten-detail"><span class="span-event-title">报警内容：</span></div>
                <textarea name="" id="text-area-detail" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div class="event-action">
        <button class="event-btn">关闭事件</button>
        <button class="event-btn">完成</button>
    </div>
</div>
</body>

<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
</html>